$color-main-background: #ecdddd;
$color-main-panel: white;
$color-dark: #2f3542;
$color-light: rgb(188, 188, 188);
$color-secondary: rgb(44, 114, 44);
$color-success: #26de81;
$color-warning: #e1644e;

$font-menu-footer: 'Zilla Slab', serif;
$font-decorative: 'Zilla Slab', serif;
$font-text: 'Merriweather', serif;
$font-main-color: rgb(79, 79, 73);

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
